@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
body{
    background: #ffebcd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main-page{
    width: 900px;
    margin: auto;
}
a{
    text-decoration: none;
    color: #333;
}
li{
    list-style-type: none;
}
/*header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
header #logo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
header #logo h1{
    margin-bottom: 0;
    font-family: 'Pacifico', cursive;

}
header #logo p{
    margin-top: 0;
}

header nav ul{
    display: flex;
    justify-content: space-between;
}
header nav li{
    margin-right: 25px;
}
header nav li a{
   text-transform: uppercase;
}
header nav li a:hover{
    border-bottom: 1px red solid;
    color:red;
}
/*Baniiiere*/
#banniere{
    background: url('images/sanfrancisco.jpg') ;
    height: 220px;
    position: relative;
    border-bottom: 1px solid red;
}
#banniere_description{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background:rgba(0,0,0,0.3);
    border-bottom: 1px solid red;

}
#banniere_description p{
    flex: 1;
    padding: 5px;
    color:#fff;
}
#banniere_description button{
    margin: 5px;
    background: red;
    color: #fff;
    border: none;
    cursor: pointer;
}
#banniere_description button:hover{
    background-color: rgba(196, 21, 21, 0.8);
}
/*section*/
section{
    display: flex;
    padding: 5px;
    margin-top: 10px;
    align-items: flex-start;
}
section article{
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section article h2{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: normal;
}
section article h2 img{
    margin-right: 5px;
}
section aside {
    border: 1px solid #696969;
    text-align: center;
    background: #696969;
    color: #fff;
    position: relative;
    
}
section aside .zozorClasse{
}
section aside figure{
    display: flex;
    justify-content: center;
}
section figure img{
    margin: 5px;
    border: none;
}
.bulle{
    position: absolute;
    top: 50%;
    left: -12px;
}
/*footer*/
footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 15px;
}
.element{
    flex: 1;
}
.element h3{
    text-align: center;
}
.element:nth-child(1){

}
.element:nth-child(2) figure{
    display: flex;
}
.element:nth-child(2) figure img{
    margin-right: 5px;
}
.element:nth-child(3) .ul{
    display: flex;
    justify-content: space-around;
    margin-top: 0;
}
.element:nth-child(3) .ul li{
    margin-top: 0;
    color: #FFA500;
    list-style-image: url('./images/ico_liensexterne.png');
    cursor: pointer;

}
/*Media query*/
@media all and (max-width: 1024px)
{
    #main-page{
        width: auto;
    }
    header{
        display: flex;
        flex-direction: column;
        width: auto;
        justify-content: center;
        align-items: center;
    }
    header ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #banniere{
        display: none;
    }
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section article{
        text-align: center;
    }
    section article h2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: auto;
        text-align: center;

    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer .element{
        text-align: center;
    }
}
